@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Kavoon", sans-serif;
    border: none;
}

button{
    cursor: pointer;
}

:root{
    --dark:#03045e;
    --mid:#0077b6;
    --main: #00b4d8;
    --light: #caf0f8;
}

body{
    background-color: var(--dark);
    display: flex;
    align-items: center;
    padding: 2rem 8rem;
    gap: 4rem;
    justify-content: space-between;
    flex-direction: column;
}

.choices{
    display: flex;
    gap: 3rem;
}

.choices button{
    font-size: 2rem;
    background-color: var(--mid);
    color: var(--light);
    padding: 1rem 2rem;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
    box-shadow: 0px 7px 0px white;
}

.choices button:hover{
    background-color: var(--main);
    /* scale: 1.05; */
}

.choices button:active{
    translate: 0px 7px;
    box-shadow: none;
}

.choices button.selectedButton{
    background-color: var(--main);
}

.map{
    background-color: var(--mid);
    height: 500px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    overflow: hidden;
    gap: 30px;
}

.circle{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color: var(--main);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pair{
    display: flex;
    gap: 30px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 30px;
}