@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

:root {
    --dark: #000120;
    --mid: #00293f;
    --main: rgb(215, 140, 0);
    --light: #d1f8ff;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Kavoon", sans-serif;
    border: none;
}

button {
    cursor: pointer;
}


body {
    background-color: var(--light);
    display: flex;
    align-items: center;
    padding: 2rem 8rem;
    gap: 1rem;
    justify-content: space-between;
    flex-direction: column;
}

.choices {
    display: flex;
    gap: 3rem;
}

.choices button {
    font-size: 2rem;
    background-color: var(--mid);
    color: var(--light);
    padding: 1rem 2rem;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
    box-shadow: 0px 7px 0px white;
}

.choices button:hover {
    background-color: var(--main);
    color: var(--dark);
    /* scale: 1.05; */
}

.choices button:active {
    translate: 0px 7px;
    box-shadow: none;
}

.choices button.selectedButton {
    background-color: var(--main);
}

.map {
    background-color: var(--mid);
    height: 500px;
    width: 700px;
    box-shadow: inset 0 0 50px black;
    border-radius: 6px;
}

.visited {
    background-color: #03045e !important;
    color: white;
}

.circle {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}